In [145]:

for i in range(1,6):
    print(i)

1
2
3
4
5

In [147]:
n=153
temp=n
sum=0
while(n>0):
    rem=n%10
    sum =sum+rem*rem*rem
    n=n/10
if(temp==sum):
    print("armstrong")
else:
    print("not a armstrong")

not a armstrong

In [51]:
char='h'
if 'aeiou':
    print("vovel")
else:
    print("consonent")

vovel

In [1]:
for i in range(50,25,-1):
    if(i>20):
        print(i,"greater than 20")
    elif(i>10):
        print(i,"greater than 10")
    else:
        print("greater than 50")

50 greater than 20
49 greater than 20
48 greater than 20
47 greater than 20
46 greater than 20
45 greater than 20
44 greater than 20
43 greater than 20
42 greater than 20
41 greater than 20
40 greater than 20
39 greater than 20
38 greater than 20
37 greater than 20
36 greater than 20
35 greater than 20
34 greater than 20
33 greater than 20
32 greater than 20
31 greater than 20
30 greater than 20
29 greater than 20
28 greater than 20
27 greater than 20
26 greater than 20

In [55]:
# to get sum of first 50 natuural number
# get the some of all the even number to 80 tp 35?

In [9]:
totel=0
for i in range(80,35,-1):
    if(i%2==0):
        totel=totel+i 
print(totel)

1334

In [11]:
totel=0
for x in range(98,25,-1):
    if(x%2!=0):
        totel=totel+x
print(totel)

2232

In [108]:
primeNo=9
isprime=True
for devide in range(2, primeNo):
    if(primeNo%devide==0):
        isprime=False
        break
if(isprime==True):
    print("prime number")
else:
    print("not a prime number")

not a prime number

In [106]:
 # sum of digit

# x=134
# rem1=x%10
# x=x//10
# print(x,rem1)

13 4

In [116]:
x=134
i=x
reminder=0
while(i>0):
    print("\nBefore devide",i)
    reminder+=i%10
    i=i//10
    print("after devide",i)
print("totel",reminder)

Before devide 134
after devide 13

Before devide 13
after devide 1

Before devide 1
after devide 0
totel 8

In [118]:
# all the factor of number
# x=12
# i=x
# while(i<=12):
#     remider=0

In [1]:
# def factorial(n):
#     if n == 0 or n == 1:
#         return 1
#     else:
#         return n * factorial(n - 1)

# # Input: Get a number from the user
# number = int(input("Enter a number: "))

# # Output: Calculate and print the factorial
# if number < 0:
#     print("Factorial is not defined for negative numbers.")
# else:09
#     print(f"Factorial of {number} is {factorial(number)}")

Enter a number:  20

Factorial of 20 is 2432902008176640000

In [9]:
number=int(input("enter the number"))
if number<0:
    print("factorial is not fefined negetive number")
else:
    print("ffactorial of{number} is {factorial number}")

enter the number 15

ffactorial of{number} is {factorial number}

In [33]:
#armstrong number btw 100 to 500

def armstrong(num):
    hund=num//100
    ten=(num%100)//10
    one=num%10
    sum_of_cubes=(hund**3)+(ten**3)+(one**3)
    return sum_of_cube==num
print("arm number btw 100 and 500 is")
for number in range(100,501):
    if is_armstrong(number):
         print(number)

arm number btw 100 and 500 is
153
370
371
407

In [30]:
#febunachi series//
n=int(input("enter the number"))
n1=0
n2=1
print(n1)
print(n2)
for i in range(2,n):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3)

enter the number 7

0
1
1
2
3
5
8

In [12]:
sum=0
for i in range(1,5):
    sum=sum+i**2
print(sum)

30